#links {
    position: absolute;
    right: 0;
    margin: 20px;
    padding: 20px;
    background-color: #555;
    border: 5px #444 solid;
    color: #fff;
}

#projLinks {
    padding-left: 20px;
    line-height: 1.5;
}

html {
    background-color: #333;
}

#sidePanel {
    left: 0;
    border: 5px #444 solid;
    border-left: 0px #0000 solid;
    position: fixed;
    margin: 10px;
    margin-left: 0;
}

#theme {
    aspect-ratio: 1 / 1;
    width: 50px;
    margin: 5px;
    background-color: #88f;
    border: 2px #ccf solid;
}

#themeIcon {
    left: 0;
    top: 0;
    width: 40px;
    aspect-ratio: 1 / 1;
    margin: 5px;
    background-color: #ffd;
    border-radius: 50%;
}


#themeIcon2 {
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    aspect-ratio: 1 / 1;
    margin: 5px;
    background-color: #444;
    border-radius: 50%;
}

a {
    color: #8cf;
}